<!doctype html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Home - Primeira pagina em NodeJS</h1>
        <% var texto = "trabalhando com EJS"; %>
        <p>Estou <%= texto %></p>
    </body>
</html>