<!doctype html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Contato</title>
    </head>
    <body>
        <h1>Contato - Primeira pagina em NodeJS</h1>
    </body>
</html>