<!doctype html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Detalhes</title>
    </head>
    <body>
        <h1>Detalhes de cliente - </h1>
        <% var texto = "trabalhando com EJS"; %>
        <p>Estou <%= texto %></p>
        <ul>
            
                <li><%= cliente.Name%>  - <%= cliente.email%></li>
        </ul>
    </body>
</html>