<!doctype html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Home - Primeira pagina em NodeJS</h1>
        <% var texto = "trabalhando com EJS"; %>
        <p>Estou <%= texto %></p>
        <ul>
            <% for (var chave in clientes) {%>
                <li><%= clientes[chave].Name%>  - <%= clientes[chave].email%></li>
            <%} %>
        </ul>
        <br><br>
        <br><br>
        <form action="/" method="post">
            <h2>Insira novos registros</h2>
            <input type="text" name="Name" placeholder="Insira o nome">
            <input type="text" name="email" placeholder="Insira o email">
            <br><br>
            <button>Adicionar elementos</button>

        </form>
    </body>
</html>